{{ form_start(form, {'attr': {'class': 'needs-validation', 'name': 'partnership', 'novalidate': 'novalidate'}}) }}
    {# Removed global form errors here as they're handled in the form_row #}
    
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.id_partner, {
                'attr': {'placeholder': 'Select the partner for this partnership'},
                'row_attr': {'class': 'form-field-container'}
            }) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.id_event, {
                'attr': {'placeholder': 'Select the event for this partnership'},
                'row_attr': {'class': 'form-field-container'}
            }) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.date_debut, {
                'attr': {'placeholder': 'Start date must be today or in the future', 'required': 'required'},
                'row_attr': {'class': 'form-field-container'}
            }) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.date_fin, {
                'attr': {'placeholder': 'End date must be after start date', 'required': 'required'},
                'row_attr': {'class': 'form-field-container'}
            }) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 mb-3">
            {{ form_row(form.terms, {
                'attr': {'placeholder': 'Enter the terms and conditions for this partnership'},
                'row_attr': {'class': 'form-field-container'}
            }) }}
        </div>
    </div>
    
    <div class="mt-4">
        <button type="submit" class="btn btn-primary">
            <i data-feather="save" class="me-1"></i>
            {{ button_label|default('Save') }}
        </button>
        <a href="{{ path('app_partnership_index') }}" class="btn btn-light ms-2">
            <i data-feather="x" class="me-1"></i>
            Cancel
        </a>
    </div>
{{ form_end(form) }}
