{{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'novalidate': 'novalidate'}}) }}
    {% if form.vars.errors is not empty %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_label(form.type_partner) }}
            {{ form_widget(form.type_partner, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.type_partner) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_label(form.phone_Number) }}
            {{ form_widget(form.phone_Number, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.phone_Number) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_label(form.logoFile) }}
            {{ form_widget(form.logoFile) }}
            {{ form_errors(form.logoFile) }}
        </div>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-primary lift">
            <i data-feather="save" class="me-1"></i>
            {{ button_label|default('Save') }}
        </button>
    </div>
{{ form_end(form) }}