{% extends 'base.html.twig' %}

{% block title %}New Workshop{% endblock %}

{% block body %}
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-12 mb-3">
                        <a class="btn btn-outline-light" href="{{ path('app_workshop_index') }}">
                            <i data-feather="arrow-left" class="me-1"></i>
                            Back to Workshops
                        </a>
                    </div>
                    <div class="col-auto">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="plus"></i></div>
                            New Workshop
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
            <div class="card-header">Create Workshop</div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{ form_row(form.title, {
                                'attr': {'class': 'form-control form-control-sm'},
                                'row_attr': {'class': 'mb-2'}
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.id_event, {
                                'attr': {'class': 'form-select form-select-sm'},
                                'row_attr': {'class': 'mb-2'}
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.date, {
                                'attr': {'class': 'form-control form-control-sm'},
                                'row_attr': {'class': 'mb-2'}
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.enddate, {
                                'attr': {'class': 'form-control form-control-sm'},
                                'row_attr': {'class': 'mb-2'}
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.instructor, {
                                'attr': {'class': 'form-control form-control-sm'},
                                'row_attr': {'class': 'mb-2'}
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.capacity, {
                                'attr': {'class': 'form-control form-control-sm'},
                                'row_attr': {'class': 'mb-2'}
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.location, {
                                'attr': {'class': 'form-control form-control-sm'},
                                'row_attr': {'class': 'mb-2'}
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.description, {
                                'attr': {'class': 'form-control form-control-sm', 'rows': 2},
                                'row_attr': {'class': 'mb-2'}
                            }) }}
                        </div>
                        <button class="btn btn-primary btn-sm">{{ button_label|default('Save') }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
