{% extends 'base.html.twig' %}

{% block title %}Edit Session{% endblock %}

{% block body %}
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-12 mb-3">
                        <a class="btn btn-outline-light" href="{{ path('app_session_index', {'workshop_id': workshop_id}) }}">
                            <i data-feather="arrow-left" class="me-1"></i>
                            Back to Sessions
                        </a>
                    </div>
                    <div class="col-auto">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="edit"></i></div>
                            Edit Session
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
            <div class="card-header">Edit Session</div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-4 mb-4">
                        {{ form_row(form.date, {
                            'attr': {'class': 'form-control'},
                            'row_attr': {'class': 'mb-3'}
                        }) }}
                    </div>
                    <div class="col-md-4 mb-4">
                        {{ form_row(form.dateheuredeb, {
                            'attr': {'class': 'form-control'},
                            'row_attr': {'class': 'mb-3'}
                        }) }}
                    </div>
                    <div class="col-md-4 mb-4">
                        {{ form_row(form.dateheurefin, {
                            'attr': {'class': 'form-control'},
                            'row_attr': {'class': 'mb-3'}
                        }) }}
                    </div>
                    <div class="col-md-4 mb-4">
                        {{ form_row(form.id_workshop, {
                            'attr': {'class': 'form-select'},
                            'row_attr': {'class': 'mb-3'}
                        }) }}
                    </div>
                    <div class="col-md-4 mb-4">
                        {{ form_row(form.participant_count, {
                            'attr': {'class': 'form-control'},
                            'row_attr': {'class': 'mb-3'}
                        }) }}
                    </div>
                    <div class="col-md-4 mb-4">
                        {{ form_row(form.capacity, {
                            'attr': {'class': 'form-control'},
                            'row_attr': {'class': 'mb-3'}
                        }) }}
                    </div>
                </div>
                <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
