{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true, 'name': 'contract'}}) }}
    {% if form.vars.errors is not empty %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.id_partner, {
                'attr': {'placeholder': 'Select a partner...'},
                'row_attr': {'class': 'form-field-container'},
                'label_attr': form.vars.data.id is not null ? {'class': 'text-muted'} : {}
            }) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.id_partnership, {
                'attr': {'placeholder': 'Select a partnership...'},
                'row_attr': {'class': 'form-field-container'},
                'label_attr': form.vars.data.id is not null ? {'class': 'text-muted'} : {}
            }) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.date_debut, {
                'attr': {'placeholder': 'Select start date...'},
                'row_attr': {'class': 'form-field-container'},
                'help': 'Start date of the contract'
            }) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.date_fin, {
                'attr': {'placeholder': 'Select end date...'},
                'row_attr': {'class': 'form-field-container'},
                'help': 'End date of the contract (leave empty for indefinite)'
            }) }}
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-md-12">
            {{ form_row(form.status, {
                'attr': {'placeholder': 'Select status...'},
                'row_attr': {'class': 'form-field-container'},
                'help': 'Current status of the contract'
            }) }}
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-md-12">
            {{ form_row(form.terms, {
                'attr': {'placeholder': 'Enter contract terms and conditions...', 'rows': 6},
                'row_attr': {'class': 'form-field-container'},
                'help': 'Legal terms and conditions of the contract'
            }) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <button class="btn {{ button_class|default('btn-success') }}">
                <i data-feather="save" class="me-1"></i>
                {{ button_label|default('Save') }}
            </button>
            <a href="{{ path('app_contract_index') }}" class="btn btn-light ms-2">
                <i data-feather="x" class="me-1"></i>
                Cancel
            </a>
        </div>
    </div>
{{ form_end(form) }}
