{% extends 'auth/base_auth.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    <div class="container-xl px-4">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                <div class="card my-5">
                    <div class="card-body p-5">
                        <!-- Steps -->
                        <div class="step step-lg mb-4">
                            <div class="step-item {{ step == 1 ? 'active' : '' }}">
                                <a class="step-item-link" href="#!">Step 1</a>
                            </div>
                            <div class="step-item {{ step == 2 ? 'active' : '' }}">
                                <a class="step-item-link" href="#!">Step 2</a>
                            </div>
                            <div class="step-item {{ step == 3 ? 'active' : '' }}">
                                <a class="step-item-link" href="#!">Step 3</a>
                            </div>
                        </div>

                        <!-- Forms -->
                        <div class="form-container">
                            {% if step == 1 %}
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-primary w-100">Send Verification Code</button>
                                {{ form_end(form) }}
                            {% elseif step == 2 %}
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-primary w-100">Verify Code</button>
                                {{ form_end(form) }}
                            {% elseif step == 3 %}
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                                {{ form_end(form) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}