{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réclamation{% endblock %}

{% block body %}
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="plus"></i></div>
                            Nouvelle Réclamation
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
            <div class="card-header">Créer une réclamation</div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': ''}}) }}
                    <div class="mb-3">
                        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.claimType, {'attr': {'class': 'form-select'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.client, {'attr': {'class': 'form-select'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <a href="{{ path('app_claim_index') }}" class="btn btn-secondary ms-2">Annuler</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}