{% extends 'User/base_dashboard.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">New Partner</h1>
                        <div class="page-header-subtitle">Create a new partner</div>
                    </div>
                    <div class="col-12 col-xl-auto mt-4">
                        <a href="{{ path('user_dashboard') }}" class="btn btn-white lift">
                            <i class="fas fa-arrow-left me-1"></i>
                            Back to DashBoard
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main page content-->
    <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
            <div class="card-header">Edit User Information</div>
            <div class="card-body">
                <form action="{{ path('admin_edit_user', { id: userId }) }}" method="post">
                    {{ form_start(form) }}

                    <div class="form-group mb-3">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, { attr: { class: 'form-control' } }) }}
                        {{ form_errors(form.name) }}
                    </div>

                    <div class="form-group mb-3">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, { attr: { class: 'form-control' } }) }}
                        {{ form_errors(form.email) }}
                    </div>

                    {% if form.phoneNumber is defined %}
                        <div class="form-group mb-3">
                            {{ form_label(form.phoneNumber) }}
                            {{ form_widget(form.phoneNumber, { attr: { class: 'form-control' } }) }}
                            {{ form_errors(form.phoneNumber) }}
                        </div>
                    {% endif %}

                    {% if form.specialization is defined %}
                        <div class="form-group mb-3">
                            {{ form_label(form.specialization) }}
                            {{ form_widget(form.specialization) }}
                            {{ form_errors(form.specialization) }}
                        </div>
                    {% endif %}

                    {% if form.assignedModule is defined %}
                        <div class="form-group mb-3">
                            {{ form_label(form.assignedModule) }}
                            {{ form_widget(form.assignedModule) }}
                            {{ form_errors(form.assignedModule) }}
                        </div>
                    {% endif %}

                    {% if form.certificate is defined %}
                        <div class="form-group mb-3">
                            {{ form_label(form.certificate) }}
                            {{ form_widget(form.certificate, { attr: { class: 'form-control' } }) }}
                            {{ form_errors(form.certificate) }}
                        </div>
                    {% endif %}

                    {% if form.isApproved is defined %}
                        <div class="form-check mb-3">
                            {{ form_widget(form.isApproved, { attr: { class: 'form-check-input' } }) }}
                            {{ form_label(form.isApproved, null, { label_attr: { class: 'form-check-label' } }) }}
                            {{ form_errors(form.isApproved) }}
                        </div>
                    {% endif %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>



                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
