<!DOCTYPE html>
{% set account_routes = ['side_user_profile', 'user_profile', 'account_billing', 'account_security', 'account_notifications'] %}
{% set partner_routes = [
    'app_partner_index', 'app_partner_new', 'app_partner_show', 'app_partner_edit',
    'app_partnership_index', 'app_partnership_new', 'app_partnership_show', 'app_partnership_edit',
    'app_contract_index', 'app_contract_new', 'app_contract_show', 'app_contract_edit'
] %}
{% set all_pages_routes = account_routes|merge(partner_routes) %}
{% set dashboard_routes = ['app_event_index' , 'app_event_new' , 'app_event_edit', 'app_event_show','user_dashboard','app_reservations_event','app_reservation_edit','app_reservation_show','admin_dashboard','admin_add_user','admin_edit_user','app_event_home'] %}
<html lang="en">
<head>
    <meta charset="UTF-8">{% set partner_routes = [
        'app_partner_index', 'app_partner_new', 'app_partner_show', 'app_partner_edit',
        'app_partnership_index', 'app_partnership_new', 'app_partnership_show', 'app_partnership_edit',
        'app_contract_index', 'app_contract_new', 'app_contract_show', 'app_contract_edit'
    ] %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Application{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.png') }}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body class="nav-fixed">
{% block navbar %}
    <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
        <!-- Sidenav Toggle Button-->
        <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>
        <!-- Navbar Brand-->
        <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="{{ path('user_dashboard') }}">SB Admin Pro</a>
        <!-- Navbar Search Input-->
        <form class="form-inline me-auto d-none d-lg-block me-3">
            <div class="input-group input-group-joined input-group-solid">
                <input class="form-control pe-0" type="search" placeholder="Search" aria-label="Search" />
                <div class="input-group-text"><i data-feather="search"></i></div>
            </div>
        </form>
        <!-- Navbar Items-->
        <ul class="navbar-nav align-items-center ms-auto">
            <!-- Documentation Dropdown-->
            <li class="nav-item dropdown no-caret d-none d-md-block me-3">
                <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="fw-500">Documentation</div>
                    <i class="fas fa-chevron-right dropdown-arrow"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end py-0 me-sm-n15 me-lg-0 o-hidden animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                    <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-admin-pro" target="_blank">
                        <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="book"></i></div>
                        <div>
                            <div class="small text-gray-500">Documentation</div>
                            Usage instructions and reference
                        </div>
                    </a>
                    <div class="dropdown-divider m-0"></div>
                    <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-admin-pro/components" target="_blank">
                        <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="code"></i></div>
                        <div>
                            <div class="small text-gray-500">Components</div>
                            Code snippets and reference
                        </div>
                    </a>
                    <div class="dropdown-divider m-0"></div>
                    <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-admin-pro/changelog" target="_blank">
                        <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="file-text"></i></div>
                        <div>
                            <div class="small text-gray-500">Changelog</div>
                            Updates and changes
                        </div>
                    </a>
                </div>
            </li>
            <!-- Navbar Search Dropdown-->
            <li class="nav-item dropdown no-caret me-3 d-lg-none">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="searchDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="search"></i></a>
                <div class="dropdown-menu dropdown-menu-end p-3 shadow animated--fade-in-up" aria-labelledby="searchDropdown">
                    <form class="form-inline me-auto w-100">
                        <div class="input-group input-group-joined input-group-solid">
                            <input class="form-control pe-0" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                            <div class="input-group-text"><i data-feather="search"></i></div>
                        </div>
                    </form>
                </div>
            </li>
            <!-- Alerts Dropdown-->
            <li class="nav-item dropdown no-caret d-none d-sm-block me-3 dropdown-notifications">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="bell"></i></a>
                <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownAlerts">
                    <h6 class="dropdown-header dropdown-notifications-header">
                        <i class="me-2" data-feather="bell"></i>
                        Alerts Center
                    </h6>
                    <a class="dropdown-item dropdown-notifications-item" href="#!">
                        <div class="dropdown-notifications-item-icon bg-warning"><i data-feather="activity"></i></div>
                        <div class="dropdown-notifications-item-content">
                            <div class="dropdown-notifications-item-content-details">December 29, 2021</div>
                            <div class="dropdown-notifications-item-content-text">This is an alert message. It's nothing serious, but it requires your attention.</div>
                        </div>
                    </a>
                    <a class="dropdown-item dropdown-notifications-item" href="#!">
                        <div class="dropdown-notifications-item-icon bg-info"><i data-feather="bar-chart"></i></div>
                        <div class="dropdown-notifications-item-content">
                            <div class="dropdown-notifications-item-content-details">December 22, 2021</div>
                            <div class="dropdown-notifications-item-content-text">A new monthly report is ready. Click here to view!</div>
                        </div>
                    </a>
                    <a class="dropdown-item dropdown-notifications-item" href="#!">
                        <div class="dropdown-notifications-item-icon bg-danger"><i class="fas fa-exclamation-triangle"></i></div>
                        <div class="dropdown-notifications-item-content">
                            <div class="dropdown-notifications-item-content-details">December 8, 2021</div>
                            <div class="dropdown-notifications-item-content-text">Critical system failure, systems shutting down.</div>
                        </div>
                    </a>
                    <a class="dropdown-item dropdown-notifications-item" href="#!">
                        <div class="dropdown-notifications-item-icon bg-success"><i data-feather="user-plus"></i></div>
                        <div class="dropdown-notifications-item-content">
                            <div class="dropdown-notifications-item-content-details">December 2, 2021</div>
                            <div class="dropdown-notifications-item-content-text">New user request. Woody has requested access to the organization.</div>
                        </div>
                    </a>
                    <a class="dropdown-item dropdown-notifications-footer" href="#!">View All Alerts</a>
                </div>
            </li>
            <!-- Messages Dropdown-->
            <li class="nav-item dropdown no-caret d-none d-sm-block me-3 dropdown-notifications">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownMessages" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="mail"></i></a>
                <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownMessages">
                    <h6 class="dropdown-header dropdown-notifications-header">
                        <i class="me-2" data-feather="mail"></i>
                        Message Center
                    </h6>
                    <a class="dropdown-item dropdown-notifications-item" href="#!">
                        <img class="dropdown-notifications-item-img" src="assets/img/illustrations/profiles/profile-2.png" />
                        <div class="dropdown-notifications-item-content">
                            <div class="dropdown-notifications-item-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            <div class="dropdown-notifications-item-content-details">Thomas Wilcox · 58m</div>
                        </div>
                    </a>
                    <a class="dropdown-item dropdown-notifications-item" href="#!">
                        <img class="dropdown-notifications-item-img" src="assets/img/illustrations/profiles/profile-3.png" />
                        <div class="dropdown-notifications-item-content">
                            <div class="dropdown-notifications-item-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            <div class="dropdown-notifications-item-content-details">Emily Fowler · 2d</div>
                        </div>
                    </a>
                    <a class="dropdown-item dropdown-notifications-item" href="#!">
                        <img class="dropdown-notifications-item-img" src="assets/img/illustrations/profiles/profile-4.png" />
                        <div class="dropdown-notifications-item-content">
                            <div class="dropdown-notifications-item-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            <div class="dropdown-notifications-item-content-details">Carlos Velasquez · 1w</div>
                        </div>
                    </a>
                    <a class="dropdown-item dropdown-notifications-footer" href="#!">View All Messages</a>
                </div>
            </li>
            <!-- User Dropdown-->
            <li class="nav-item dropdown no-caret d-none d-sm-block">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUser" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="user"></i></a>
                <div class="dropdown-menu dropdown-menu-end py-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUser">
                    <a class="dropdown-item py-3" href="{{ path('user_profile') }}">
                        <div class="dropdown-item-icon bg-warning"><i data-feather="settings"></i></div>
                        <div>
                            <div class="small text-gray-500">Account Settings</div>
                        </div>
                    </a>
                    <a class="dropdown-item py-3" href="{{ path('logout') }}">
                        <div class="dropdown-item-icon bg-success"><i data-feather="log-out"></i></div>
                        <div>
                            <div class="small text-gray-500">Logout</div>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </nav>

{% endblock %}

<div id="layoutSidenav">
    {% block sidemenu %}
        <div id="layoutSidenav_nav">
            <nav class="sidenav shadow-right sidenav-light">
                <div class="sidenav-menu">
                    <div class="nav accordion" id="accordionSidenav">
                        <!-- Sidemenu content from temp.html -->
                        <div class="sidenav-menu-heading">Core</div>
                        <a class="nav-link {% if app.request.attributes.get('_route') in dashboard_routes %}active{% endif %}" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
                            <div class="nav-link-icon"><i data-feather="activity"></i></div>
                            Dashboards
                            <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse {% if app.request.attributes.get('_route') in dashboard_routes %}show{% endif %}" id="collapseDashboards" data-bs-parent="#accordionSidenav">
                            <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                {% if 'ROLE_ADMIN' in app.user.getRoles() %}
                                <a class="nav-link {% if app.request.attributes.get('_route') in ['admin_dashboard','admin_edit_user','admin_add_user'] %}active{% endif %}" href="{{ path('user_dashboard') }}">
                                    Administrator Dashboard
                                    <span class="badge bg-primary-soft text-primary ms-auto">Updated</span>
                                </a>
                                {% endif %}
                                {% if 'ROLE_ADMIN' in app.user.getRoles() or 'ROLE_EVENTPLANNER' in app.user.getRoles() %}
                                <a class="nav-link {% if app.request.attributes.get('_route') in ['app_event_index' , 'app_event_new' , 'app_event_edit', 'app_event_show', 'app_reservations_event'] %}active{% endif %}" href="{{ path('app_event_index') }}">Events</a>
                                {% endif %}
                                {% if 'ROLE_CLIENT' in app.user.getRoles() %}
                                <a class="nav-link {% if app.request.attributes.get('_route') in ['app_event_home'] %}active{% endif %}" href="{{ path('app_event_home') }}">Home</a>
                                {% endif %}
                            </nav>
                        </div>
                        <!-- Sidenav Heading (App Views)-->
                        <div class="sidenav-menu-heading">App Views</div>
                        <!-- Sidenav Accordion (Pages) -->
                        <a class="nav-link {% if app.request.attributes.get('_route') in all_pages_routes %}active{% endif %}"
                           href="javascript:void(0);"
                           data-bs-toggle="collapse"
                           data-bs-target="#collapsePages"
                           aria-expanded="{% if app.request.attributes.get('_route') in all_pages_routes %}true{% else %}false{% endif %}"
                           aria-controls="collapsePages">
                            <div class="nav-link-icon"><i data-feather="grid"></i></div>
                            Pages
                            <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse {% if app.request.attributes.get('_route') in all_pages_routes %}show{% endif %}"
                             id="collapsePages"
                             data-bs-parent="#accordionSidenav">
                            <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                                <!-- Account Section -->
                                <a class="nav-link {% if app.request.attributes.get('_route') in account_routes %}active{% endif %}"
                                   href="javascript:void(0);"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#pagesCollapseAccount"
                                   aria-expanded="{% if app.request.attributes.get('_route') in account_routes %}true{% else %}false{% endif %}"
                                   aria-controls="pagesCollapseAccount">
                                    Account
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse {% if app.request.attributes.get('_route') in account_routes %}show{% endif %}"
                                     id="pagesCollapseAccount"
                                     data-bs-parent="#accordionSidenavPagesMenu">
                                    <nav class="sidenav-menu-nested nav">
                                        <a class="nav-link {% if app.request.attributes.get('_route') in ['side_user_profile', 'user_profile'] %}active{% endif %}"
                                           href="{{ path('user_profile') }}">Profile</a>
                                        <a class="nav-link {% if app.request.attributes.get('_route') == 'account_security' %}active{% endif %}"
                                           href="{{ path('account_security') }}">Security</a>
                                        <a class="nav-link {% if app.request.attributes.get('_route') == 'account_notifications' %}active{% endif %}"
                                           href="">Notifications</a>
                                    </nav>
                                </div>

                                <!-- Partners Section (now properly nested) -->
                                {% if 'ROLE_ADMIN' in app.user.getRoles() or 'ROLE_EVENTPLANNER' in app.user.getRoles() %}
                                <a class="nav-link {% if app.request.attributes.get('_route') in partner_routes %}active{% endif %}"
                                   href="javascript:void(0);"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#pagesCollapsePartners"
                                   aria-expanded="{% if app.request.attributes.get('_route') in partner_routes %}true{% else %}false{% endif %}"
                                   aria-controls="pagesCollapsePartners">
                                    Partners
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse {% if app.request.attributes.get('_route') in partner_routes %}show{% endif %}"
                                     id="pagesCollapsePartners"
                                     data-bs-parent="#accordionSidenavPagesMenu">
                                    <nav class="sidenav-menu-nested nav">
                                        <a class="nav-link {% if app.request.attributes.get('_route') in ['app_partner_index', 'app_partner_new', 'app_partner_show', 'app_partner_edit'] %}active{% endif %}"
                                           href="{{ path('app_partner_index') }}">Partners</a>
                                        <a class="nav-link {% if app.request.attributes.get('_route') in ['app_partnership_index', 'app_partnership_new', 'app_partnership_show', 'app_partnership_edit'] %}active{% endif %}"
                                           href="{{ path('app_partnership_index') }}">Partnerships</a>
                                        <a class="nav-link {% if app.request.attributes.get('_route') in ['app_contract_index', 'app_contract_new', 'app_contract_show', 'app_contract_edit'] %}active{% endif %}"
                                           href="{{ path('app_contract_index') }}">Contracts</a>
                                    </nav>
                                </div>
                                {% endif %}
                                <!--Side navbar workshop-->
                                {% if 'ROLE_ADMIN' in app.user.getRoles() or 'ROLE_EVENTPLANNER' in app.user.getRoles() or 'ROLE_INSTRUCTOR' in app.user.getRoles() %}
                                <a class="nav-link" href="{{path('app_workshop_index')}}">Workshops</a>

                                <!-- Nested Sidenav Accordion (Pages -> Knowledge Base)-->
                                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseKnowledgeBase" aria-expanded="false" aria-controls="pagesCollapseKnowledgeBase">
                                    Knowledge Base
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseKnowledgeBase" data-bs-parent="#accordionSidenavPagesMenu">
                                    <nav class="sidenav-menu-nested nav">
                                        <a class="nav-link" href="">Home 1</a>
                                        <a class="nav-link" href="">Home 2</a>
                                    </nav>
                                </div>
                                {% endif %}
                                <a class="nav-link" href="">Pricing</a>
                                <a class="nav-link" href="{{path('logout')}}">Logout</a>
                            </nav>
                        </div>
                <div class="sidenav-footer">
                    <div class="sidenav-footer-content">
                        <div class="sidenav-footer-subtitle">Logged in as:</div>
                        <div class="sidenav-footer-title">{{ app.user.name }}</div>
                    </div>
                </div>
            </nav>
        </div>
    {% endblock %}

    <div id="layoutSidenav_content">
        <main>
            {% block content %}{% endblock %}
        </main>
        {% block footer %}
            <footer class="footer-admin mt-auto footer-light">
                <div class="container-xl px-4">
                    <div class="row">
                        <div class="col-md-6 small">Copyright &copy; Your Website 2021</div>
                        <div class="col-md-6 text-md-end small">
                            <a href="#!">Privacy Policy</a>
                            &middot;
                            <a href="#!">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </div>
</div>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}
</body>
</html>